{% extends "IBMMTMBundle::layout.html.twig" %}
{% block body %}
  <h1>Edit customer</h1>
    {% form_theme form 'IBMMTMBundle::form_errors.html.twig' %}
	{{ form(form) }}
  <a class="btn btn-warning" href="#" onclick="javascript:goBack()">Back</a>
{% endblock %}

{% block requirejs %}
	{{ include('IBMMTMBundle::requirejs.html.twig', {'module': 'formsstyles'}) }}
{% endblock %}