{% extends "IBMMTMBundle::layout.html.twig" %}
{% block body %}
  <h1 class="bg-danger"><b>Your account is blocked!</b> If you think this is an error, check it with your bank manager</h1>
{% endblock %}
